/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #005385;
    --ifm-color-primary-dark: #004b78;
    --ifm-color-primary-darker: #004771;
    --ifm-color-primary-darkest: #003a5d;
    --ifm-color-primary-light: #005b92;
    --ifm-color-primary-lighter: #005f99;
    --ifm-color-primary-lightest: #006cad;
  }

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #70adc2;
    --ifm-color-primary-dark: #5ba1b9;
    --ifm-color-primary-darker: #509bb4;
    --ifm-color-primary-darkest: #408096;
    --ifm-color-primary-light: #85b9cb;
    --ifm-color-primary-lighter: #90bfd0;
    --ifm-color-primary-lightest: #b0d2dd;
  }
